<div class="login-form">
    <form>
        <h2 class="text-center">Add New Video</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Video Description" required="required" #description>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Video Embed Link" required="required" #link>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"
                (click)="add(description.value, link.value);
                description.value = ''; 
                link.value = '';">Add</button>
        </div>
    </form>
</div>